<nav class="web_mob_menu">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Features", features_path %></li>
      <li><%= link_to "Pricing", priceplans_path %></li>
      <li><%= link_to "FAQ", faqs_path %></li>
           
    </ul>
</nav>