<div class="account_title">De-activated Account</div>

<div class="content">
	<div class="column_1">
		<div class="column_content">
			<div class="column_title">Re-activate Account</div>   
      
			<div class="column_sub_content">
			
				<div class="column_guide">
					<p>Your user account has been deactivated by your account administrator.</p>
					<p>To re-activate your user account please contact your account administrator.</p>
					<p>Should you experience any problems or do not know who your account administrator is please contact us for assistance</p>
      			</div>				
			</div>		    	
      	</div>   
	</div>

	<div class="column_2 column_blank"></div>	
		 
    <div class="column_3 column_blank"></div>				

	<%= render :partial => "application/web_footer" %>

</div>