<div class="account_title">Locked Account</div>

<div class="content">
	<div class="column_1">
		<div class="column_content">
			<div class="column_title">Unlocking Account</div>   
 
			<div class="column_sub_content">			
				<div class="column_guide">
      				<p>A number of unsuccessful attempts have been made to access your user account. To ensure the security of your account and the service we offer your account has been locked.</p>
					<p>To unlock your account please contact your account administrator who can unlock your account directly. If you are an account administrator or do not know who your administrator is please contact us to have your account unlocked.</p>
					<p>We apologise for any inconvenience caused.</p>
      			</div>				
			</div>		    	
      	</div>   
	</div>

	<div class="column_2 column_blank"></div>	
		 
    <div class="column_3 column_blank"></div>				

	<%= render :partial => "application/web_footer" %>

</div>