<p>A PDF of the document with a 'not for issue' watermark on each page is created unless the check box at the bottom of the page is deselected. If the checkbox is deselected the document will be published as a PDF document. The revision reference of the project will also be moved to the next letter.</p>
<p>How the PDF document is initially downloaded, saved and opened will depend upon how your web browser is set up.</p>
<p>If the document has been published and no further changes have been made, the PDF will be the same as the last published copy.</p>
<p>If a previous revision of the document is printed a 'superseded' watermark will be placed on each page.</p>