<p>When a project has been issued and changes are subsequently made the document is automatically advanced one revision.</p>
<p>Previous versions of the document can then only be published with a 'superseded' watermark on each page.</p>