<p>When a project's status is 'Draft' it can only be printed with a 'not for issue' watermark on each page.</p>
<p>To change the status of the project select the 'Project' tab and change the selected status. Please note that once the project is changed from 'Draft' it cannot be changed back.</p>