.lrg_menu {  
  position: absolute;
  top: 0px;
  left: 115px;
  right: 50px;
  }
  @media screen and (max-width: 800px) {
  .lrg_menu {  
    top: -1px;
    left: 90px;
    right: 50px;
    } 
  }


.menu_container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.menu_container > ul {
  position: relative;
  display: block;
  height: 32px;
  width: 100%;
  z-index: 500;
}
.menu_container > ul > li {
  display: block;
  position: relative;
  float: left;
  height: 46px;
  margin: 0;
  padding: 0;
}

.menu_container > ul > li.right{
  float: right;
  height: 46px;
  margin: 0;
  padding: 0;
}



.menu_container > ul > #menu-button {
  display: none;
}
.menu_container ul li a {
  display: block;
  text-decoration: none;
}
.menu_container > ul > li > a {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 12px;
  color: #ffffff;
}

.menu_container > ul > li.right > a {
  font-size: 13px;
  padding: 16px 12px;
  color: #ffffff;
}


.menu_container > ul > li.has-sub > a {
  padding-right: 26px;
}
.menu_container > ul > li:hover > a {
  text-decoration: underline;
}
.menu_container li.has-sub::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
.menu_container > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #ffffff;
}
.menu_container > ul > li:hover::after {
  border-top-color: #ffffff;
}

#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
.menu_container ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  z-index: 1000;
}

.menu_container ul ul li {
  position: relative;
}
.menu_container > ul > li:hover > ul {
  left: auto;
  top: 46px;
  opacity: 1;
}
.menu_container ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
.menu_container ul ul li a {
  width: 130px;
  border-bottom: 1px solid #444;
  padding: 10px 20px;
  font-size: 12px;
  color: #eee;
  background: #000;
}
.menu_container ul ul li:hover > a {
  background: #000;
  text-decoration: underline;
}
.menu_container ul ul li:last-child > a,
.menu_container ul ul li.last > a {
  border-bottom: 0;
}
.submenuArrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -12px;
}

@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
.menu_container  {
    width: auto;
  }
.menu_container ul {
    width: auto;
  }
.menu_container .submenuArrow,
.menu_container #indicatorContainer {
    display: none;
  }
.menu_container > ul {
    height: auto;
    display: block;
  }
.menu_container > ul > li {
    float: none;
  }
  
 
.menu_container li,
.menu_container > ul > li {
    display: none;
  }
.menu_container ul ul,
.menu_container ul > li:hover > ul,
.menu_container ul ul > li:hover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
  }
.menu_container ul .has-sub::after {
    display: none;
  }
.menu_container ul li a {
    padding: 12px 20px;
    
  }
.menu_container ul ul li a {
    border: 0;
    background: #000;
    width: auto;
    padding: 8px 35px;
  }
.menu_container ul ul li:hover > a {
    background: #000;
    color: #fff;
  }

.menu_container > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
.menu_container #menu-button > a {
    padding: 14px 20px;
  }
.menu_container ul.open li,
.menu_container > ul.open > li {
    display: block;
  }
.menu_container > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
.menu_container #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    right: 20px;
    top: 15px;
  }
.menu_container #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #fff;
    right: 20px;
    top: 25px;
  }
.menu_container ul.open #menu-button::after,
.menu_container ul.open #menu-button::before {
    border-color: #fff;
  }
}
