//core-ui
@import "core";
@import "buttons";



  //header text
  .login_header_text{
    display: block;
    position: absolute;
    top: 16px;
    left: 45px;  //set to suit size of MyHq logo
    height: 32px;
    width: 200px;
    font-family: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0px 9px 0px 9px;
    color: #fff;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  @media screen and (max-width: $tablet-landscape) {
    .login_header_text{
      top: 12px;
    }
  }


.login_container{
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px;
}


.login{
  padding: 100px 0px 0px 0px;

  h2 {
    text-align: center;
  }
}

.login_label{
    font-size: 1.4rem;
}

.login_username, .login_password{
  width: 208px;
  margin-left:auto;
  margin-right:auto;
  input{width: 204px}
  padding: 0px 0px 10px 0px
}




.login_submit{
  width: 208px;
  margin: 5px 0px 30px 0px;
  margin-left:auto;
  margin-right:auto;
  input[type=submit]{
    width: 208px;
    font-family: $heading_font;
    @include title-button-green;
  }
}

.password_reminder{
  width: 196px;
  margin-top: 5px;
  margin-left:auto;
  margin-right:auto;
  font-family: $heading_font;
  @include title-button-orange;
  text-align: center;
  display: block; //required to override setting in button mixin
  a{
    width: 208px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}
