

var x = "<div class='row'><div class='form_error'><p>Notice: You have insufficient licences availabel to add another user, please de-activate a currently active user to free up a licence and try again.</p></div></div>";

$('div.col-1-1').prepend(x);