<div class="linetype_menu">
    <div class="list_header">Select line format:</div>
    <%= form_for @specline, :remote => true do |f| %>
      <%@linetypes.each do |linetype|%>
        <div class="linetype">
            <%= f.radio_button 'linetype_id', linetype.id, {:class=> 'submittable2'} %>
            <%= linetype.description%>
        </div>
      <% end %>
    <% end %>
</div>