<div class="inline_guide_header">
		<div class="guide_title">Guidance for: <%=@specline.clause.caws_full_title%></div>
		<div class="guide_title_mob">Guidance for: <%=@specline.clause.caws_code%></div>
		<div class="guide_close">close</div>
	</div>
<div class="guide_text"><%= @guidenote.text.html_safe %></div>
