$('.guide').remove();


var p = $('table#<%=@specline.id%>').children('tbody').children('tr.specline_row, tr.new_specline_row, tr.specline_data_row').children('td.suffixed_line_menu');
var position_a = p.offset();

var p = $('table#<%=@specline.id%>').children('tbody').children('tr.specline_row, tr.new_specline_row, tr.specline_data_row').children('td.suffixed_line_menu_mob');
var position_b = p.offset();

if ($('.suffixed_line_menu_mob').css('display') == 'none'){
	var position = position_a;
}else{
	var position = position_b;
};

var p_top = position.top

var notes = "<div class='guide' class='ui.draggable'><%= escape_javascript(render 'guide') %></div>";

$('body').after(notes);

$('.guide').css({top: p_top});

$('.guide').draggable();


if ($(window).width() < 640 ){
	var new_guide_width = $(window).width() -40;
	$('.guide').width(new_guide_width);
	$('.guide').css('right', '10px');	
}


$('div.guide_close').click(function() {
  $('.guide').remove();

});