	<div class="column_1">
		<div class="column_content">
      		<div class="column_title">Welcome</div>         
    		<div class="column_sub_content">
				<div class="column_guide">    
    				<p><b>Welcome & thank you for using Specright</b></p>          
      			</div>
				<div class="column_guide">    
    				<p><b>Adding Users.</b></p>        
    				<ul>
						<li>Specright is offered on the basis of a single free user licence. An unlimited number of additional licences can be provided on an affordable annual subscription basis. To discuss your requirements please contact us, we would be delighted to hear from you.</li> 
    				</ul>   
      			</div>	
      			<div class="column_guide">    
    				<p><b>E-mail Notification of Updates</b></p>        
    				<ul>
						<li>All updates to the Specright application and its contents are available to all users as soon as they are implemented.</li>
						<li>To ensure that our users are hence able to enjoy their benefit as soon as possible all updates are notified via e-mail.</li> 
						<li>Notificatioins of any planned maintenance down time or technical issues are also notified via e-mail.</li> 
						<li>If you do not wish to recieve these emails please click the 'unsubscribe' link at the bottom of the e-mail.</li>
    				</ul>   
      			</div>
				<div class="column_guide">    
    				<p><b>Feedback</b></p>        
    				<ul>
						<li>We are constantly seeking feedback, on all aspects of the Specright application and content. This helps us ensure that we are meeting your current and future needs.</li> 
    				</ul>   
      			</div>									
			</div>	
      	</div>   
	</div>

	<div class="column_2">
		<div class="column_content">
      		<div class="column_title">Demo Project</div>         
    		<div class="column_sub_content">
				<div class="column_guide">    
    				<p><b>Getting Started</b></p>
    				<ul>
						<li>A demonstration project has been created for you. You can use this project to explore how Specright works.</li>
						<li>If you wish you can edit the details of the demonstration project, including reference and title, to reflect your own project details. To do this click on the 'Project' menu item at the top of the page and edit accordingly, changes are saved automatically.</li>
						<li>Alternatively to start adding content to the Demo Project Click on the 'add subsections' button to the top right of the screen.</li>
    				</ul>    
      			</div>									
			</div>	
      	</div>   
	</div>

	<div class="column_3">
		<div class="column_content">
      		<div class="column_title">Create a new Project</div>         
    		<div class="column_sub_content">
				<div class="column_guide">    
    				<p><b>Getting Started</b></p>
    				<ul>
						<li>To create a new project click on the 'Project' menu item at the top of the page and then select 'create new project' to the right of the information band</li>
    				</ul>    
      			</div>										
			</div>	
      	</div>   
	</div>


