<div class="character_menu">
	<div class="character_menu_content">
		<ul>
			<li class="character" id="symbol_0">'º'</li>
			<li class="character" id="symbol_1">'²'</li>
			<li class="character" id="symbol_2">'³'</li>
			<li class="character" id="symbol_3">'±'</li>
			<li class="character" id="symbol_4">'≤'</li>
			<li class="character" id="symbol_5">'≥'</li>
		</ul>
	</div>
	<div class="character_menu_label">insert symbol:</div>
</div>