// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//core-ui
@import "layouts/core";
@import "layouts/buttons";

.guide {
  position: absolute;
  right: 120px;
  width: 600px;
  height: 360px;
  background-color: #dadada;
  border: 1px solid #aaa;
  @include border-radius(0.4rem);
  @include shadow-all(0px 0px 5px #aeaeae);
}


.inline_guide_header{
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  height: 28px;
  @include dark_grey_38_gradient;
  @include border-radius(0.4rem);
  border: 1px solid #888;    
}

.guide_title {
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 1.4rem;
  color: #fff;
}
  @media screen and (max-width: $tablet-protrait) {
    .guide_title {display: none;}  
  }

.guide_title_mob {
  display: none;
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 1.4rem;
  color: #fff;
}
  @media screen and (max-width: $tablet-protrait) {
    .guide_title_mob {display: block;}  
  }


.guide_close{
  position: absolute;
  top: 2px;
  right: 7px;
  @include title-button-orange;
  border: 1px solid #878787;
  }


.guide_text{
  position: absolute;
  top: 40px;
  bottom: 7px;
  left: 7px;
  right: 7px;
  color: #000;
  background-color: #fff;
  font-weight: normal;
  font-size: 1.2rem;
  border: 1px solid #fff;
  overflow: auto;
  padding: 10px 10px 12px 10px; 
  @include border-radius(0.4rem);
  li {
  padding: 0px 0px 5px 0px;    
  }
}

 
