// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//core-ui
@import "layouts/core";
@import "layouts/buttons";



select#template_sections{
  height: 270px;
}

select#project_sections{
  height: 305px;
}

select#template_clauses{
  height: 270px;
}

select#project_clauses{
  height: 345px;
}


.no_form_input label{
    float: left;
    padding-top: 3px;
    font-size: 1.2rem;
    width: 110px;
}

.no_form_input select {
  width: 100%; padding: 2px 0px 2px 0px;
  &:disabled {background: #dddddd;}
  font-size: 1.2rem;
}

.no_form_input span {
    display: block;
    overflow: hidden;
    padding: 0px 5px 0px 0px;
    margin-right: 10px;
}

.no_form_input div.form_tooltip{
    float: right;
    width: 10px; 
    min-height: 10px;
    cursor: pointer;
    background: asset_url('tooltip_icon.png') no-repeat; 
}



.document_tabs{
  position: absolute;
  top: 130px;
  left: 0px;
  right: 0px;
  bottom: 0px;   
}
  @media screen and (min-width: $phone-landscape) and (max-width: $tablet-protrait){
    .document_tabs{
      top: 140px;
    }  
  } 
  @media screen and (max-width: $phone-landscape) {
    .document_tabs{
      top: 92px;
    }  
  }


.character_menu{
  display: block;
  visibility: hidden;   
  float: right;
  margin: -2px 0px 0px 0px;
}
  @media screen and (max-width: $tablet-protrait) {
    .character_menu{
      display: none;
    }  
  }


.character_menu_content{
    float: right;
    padding: 1px 2px 1px 2px;
    border: 1px solid #aaaaaa;
    @include border-radius(0.4rem);
  color: #2a2a2a;
    ul{
      list-style-type: none;
      margin: 3px 0px 3px 0px;
      -webkit-padding-start: 0px;
      li{
        font-size: 1.4rem;
      }
    }
}

.character_menu_label{
    float: right;
    padding: 8px 5px 0px 0px;
    font-size: 1.2rem;
    font-style: italic;
    color: #2a2a2a;      
}
  @media screen and (max-width: $tablet-landscape) {
    .character_menu_label{
      display: none;
    }  
  }

.character{
  padding: 0px 3px 0px 3px;
  margin: 0px 2px 0px 2px;
  display: inline;
  font-size: 1.4rem;
  font-weight: bold;
    border: 1px solid #aaa;
  @include border-radius(0.4rem);
  cursor: pointer;
  @include light_grey_32_gradient;
  &:hover{
    @include light_grey_32_gradient;
    color: #000;
  }   
}  
  
  
.prelim_show{
  position: absolute;
  top: 32px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  min-width:280px;
  overflow: auto;
  background: #fff;
  border: 2px solid #dddddd;
  padding: 5px 0px 20px 0px; 
  z-index: 0;
} 

////////////////////////////////////////////////////////////
//document show
.specline_table{
  border-spacing: 0px;
}

.specline_row{
  font-size: 1.2rem;
  font-family: $standard_font;
}
.new_specline_row{@extend .specline_row}


.specline_data_row{
  @extend .specline_row;
  color: #006600;
}

.specline_xref_row{
  @extend .specline_row;
  color: purple;  
}

.edit_clause_code {
  width: 75px;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 0px 5px 7px;
}

.edit_clause_title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 0px 5px 0px;
  text-align: left;
}

td.prefix{
  width: 10px;
  padding-top: 5px;
  vertical-align: top;
}

td.text_prefix{
  width: 15px;
  padding-top: 5px;
  vertical-align: top;
}

td.text_text{padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: top;
}

span.editable_text4{
  vertical-align: top; 
}
span.editable_text5{@extend span.editable_text4}

.prefixed_line_menu{
  display: table-cell;
  visibility:hidden;
  width: 75px;
  padding: 5px 0px 0px 5px;  
}
  @media screen and (max-width: $tablet-protrait) {
    .prefixed_line_menu{
      display: none;
      visibility:hidden; 
    } 
  }

.prefixed_line_space{
  display: none;    
  }
@media screen and (max-width: $tablet-protrait) {
  .prefixed_line_space{
  display: table-cell;
  width: 70px;
  padding: 5px 0px 0px 5px;    
  } 
}
@media screen and (max-width: $phone-landscape) {
  .prefixed_line_space{
  display: table-cell;
  width: 10px;
  padding: 5px 0px 0px 5px;    
  } 
}


.suffixed_line_menu{
  display: table-cell;
  visibility:hidden;
  text-align: right;
  width:120px;
  padding: 5px 5px 0px 0px;
  a{
   padding: 0px 5px 0px 0px; 
  }
} 
  @media screen and (max-width: $tablet-protrait) {
    .suffixed_line_menu{
      display: none;
      visibility:hidden; 
    } 
  }    
     
//menues for specline when smaller than mob
.suffixed_line_menu_mob{
  display: table-cell;
  visibility:hidden;  
  text-align: right;
  width:25px;
  padding: 5px 5px 0px 0px;
  img{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}
  @media screen and (min-width: $tablet-protrait) {     
    .suffixed_line_menu_mob{
      display: none;
      visibility:hidden;
    }
  }

.specline_mob_menu_popup{
  display: none;
  width: 100%;
  border-spacing: 0px;  
}

.mob_line_menu{
  a {
    float:right;
    margin-left: 10px
    }
  }

//////////////////////////////////////////////////////////
//css for revision page
.revision_select{
  width: 200px;  
}


.revision_selectBox{
  top: 1px;  
  left: 60px;  
}

.revision_select_draft{
  position: absolute;
  top: 5px;  
  left: 62px;
  width: 175px;  
}

.revision_tabs{
  position: absolute;
  top: 130px;
  left: 0px;
  right: 0px;
  bottom: 0px;   
}  
  @media screen and (max-width: $tablet-protrait) {
    .revision_tabs{
      top: 145px;
    }  
  }
  @media screen and (max-width: $phone-landscape) {
    .revision_tabs{
      top: 95px;
    }  
  }


//type of revision that has been undertaken to subsequent list of subsections
.rev_title{
  font-family: $standard_font;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px 0px 0px 10px;
}

//code and title of subsections that have been changed
.changed_subsection_code{
  font-family: $standard_font;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 0px 0px 20px;
}

//type of revision that has been undertaken to subsequent list of clauses
.rev_title_2{
  font-family: $standard_font;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px 0px 0px 10px;  
}

.rev_subsection_action{
  font-family: $standard_font;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px 0px 0px 25px;
}

//clause code for those clauses that have been fully added or deleted
.rev_clause_code{
  font-family: $standard_font;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 0px 0px 35px;
  width: 65px;
  height: 26px;
}
//clause code for those clauses where a change to their content has been made
.changed_clause_code{@extend .rev_clause_code}


//clause title for those clauses that have been fully added or deleted
.rev_clause_title{
  font-family: $standard_font;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 0px 0px 0px;
  height: 26px;
}
//clause title for those clauses where a change to their content has been made
.changed_clause_title{@extend .rev_clause_title}


.rev_table{
  border-collapse: collapse;
}

.rev_row_padding{
  padding-left: 120px;
}
  @media screen and (max-width: $phone-landscape) {
    .rev_row_padding{
      padding-left: 35px;
    }  
  }

//text denoting the type of change made to clause, i.e. text deleted, added or changed
.rev_subtitle, .rev_subtitle_strike{
  font-family: $standard_font;
  font-size: 1.2rem;
  padding: 5px 0px 5px 100px;
  text-decoration: underline;
}
  @media screen and (max-width: $phone-landscape) {
    .rev_subtitle, .rev_subtitle_strike{
      padding-left: 35px;
    }  
  }
.rev_subtitle_strike{color: #b7b7b7}

//row container for changed text where text has been changed within a clause
.rev_row{
  font-family: $standard_font;
  font-size: 1.2rem; 
}
.rev_row_strike{@extend .rev_row; color: #b7b7b7}

//where text has been changed indicated if it has been changed from or to the text
.change_title{
  font-family: $standard_font;
  font-size: 1.1rem;
  font-style: italic;
}
.change_title_strike{@extend .change_title; color: #b7b7b7}

//text that has been changed, i.e. added, deleted or changed
.change_line{
  font-family: $standard_font;
  font-size: 1.2rem;  
}
.change_line_strike{@extend .change_line; color: #b7b7b7}


.rev_line_menu{
  display: table-cell;
  visibility: hidden;
  text-align: right;
  width: 80px;
  vertical-align: middle;
  padding: 5px 5px 0px 0px;
  a {
  padding: 0px 5px 0px 0px;
  };
  img {
  margin: 0px 0px 0px 0px;
  };  
}
  @media screen and (max-width: $tablet-protrait) {
    .rev_line_menu{
      display: none;
      visibility:hidden; 
    } 
  }
  
//menues for specline when smaller than mob
.rev_line_menu_mob{
  display: table-cell;
  visibility:hidden;  
  text-align: right;
  width:25px;
  padding: 5px 5px 0px 0px;
  img{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}
  @media screen and (min-width: $tablet-protrait) {     
    .rev_line_menu_mob{
      display: none;
      visibility:hidden;
    }
  }

.rev_mob_menu_popup{
  display: none;
  width: 100%;
  border-spacing: 0px;  
}

.mob_rev_menu{
  padding-right: 50px;
  a {
    float:right;
    margin-left: 10px
    }
  }  
      
    

//popup change information
.change_info{
  position: absolute;
  right: 100px;
  color: #fff;
  font: normal 12px verdana;
  padding: 4px 10px 4px 10px;
  @include border-radius(0.5rem);
  @include shadow-all(0px 0px 5px #aeaeae);
  border: 1px solid #000;
}
  @media screen and (min-width: $tablet-protrait) {
    .change_info{
      @include light_grey_32_gradient;
    } 
  } 
  @media screen and (max-width: $tablet-protrait) {
    .change_info{
      left: 20px;
      background-color: #E5A323; 
    } 
  } 


//////////////////////////////////////////////////////////
//css for publish page
.publish_selectBox{
  top: 0px;  
  left: 5px;  
} 


////////////////////////////////////////////////////
//add user form
.project_form_label{
  width: 120px;
  text-align: left;   
}

  @media screen and (min-width: $tablet-protrait) {
    .small_show{display:none;} 
  }
  
  @media screen and (max-width: $tablet-protrait) {
    .small_hide{display:none;}  
  }
  
////////////////////////////////////////
//new clause css
.clause_form_label{
  font-size: 1.2rem;
  font-weight: bold;
  float:left;  
  color: title_band_text_colour;    
  width: 80px;
  padding: 10px 5px 0px 0px;
  text-align: left;   
}

.form_error_note{
  font-weight: bold;
  color: #ff3300;
}

.clone_template{color: #7b7b7b}
.clone_section{color: #7b7b7b}
.clone_clause{color: #7b7b7b}

#clone_clause_id{
  width: 300px;
}
  @media screen and (min-width: $tablet-protrait) {
    #clone_clause_id{width: 200px;} 
  }
  
  @media screen and (max-width: $phone-landscape) {
    #clone_clause_id{width: 100px;}
  }
  
#clone_template_id{@extend #clone_clause_id}
#clone_section_id{@extend #clone_clause_id}

////////////////////////////////////////
//subsection manage css  







////////////////////////////////////////
//line formatt popup
.linetype_menu{
  font-family: $standard_font;
  font-size: 1.2rem;
  position: absolute;
  right: 120px;
  width: 210px;
  background: #000;
  color: #fff;
  padding: 4px 5px 10px 10px;
  @include shadow-all(0px 0px 5px #aeaeae);
}
  @media screen and (max-width: $phone-landscape) {
    .linetype_menu{right: 100px;}  
  }

.linetype_menu_header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 210px;
  color: #fff;
  padding: 9px 10px 9px 5px;
  border-bottom: 1pt solid #fff;
  font-weight: bold;
}

.linetype_menu_linetype_id{
  padding: 35px 0px 0px 0px;
}

.linetype_menu_button {
  height: 15px;
  padding: 5px 0px 5px 0px;
  font-weight: normal;
}

.linetype_menu_button_label{
  padding: 2px 0px 3px 5px;
  cursor: pointer;
}

  
//////////////////////////////////////
//clause guide


.guide {
  position: absolute;
  right: 120px;
  width: 600px;
  height: 360px;
  background-color: #dadada;
  border: 1px solid #aaa;
  @include border-radius(0.4rem);
  @include shadow-all(0px 0px 5px #aeaeae);
}


.inline_guide_header{
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  height: 28px;
  @include dark_grey_38_gradient;
  @include border-radius(0.4rem);
  border: 1px solid #888;    
}

.guide_title {
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 1.4rem;
  color: #fff;
}
  @media screen and (max-width: $tablet-protrait) {
    .guide_title {display: none;}  
  }

.guide_title_mob {
  display: none;
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 1.4rem;
  color: #fff;
}
  @media screen and (max-width: $tablet-protrait) {
    .guide_title_mob {display: block;}  
  }


.guide_close{
  position: absolute;
  top: 2px;
  right: 7px;
  @include title-button-orange;
  border: 1px solid #878787;
  }


.guide_text{
  position: absolute;
  top: 40px;
  bottom: 7px;
  left: 7px;
  right: 7px;
  color: #000;
  background-color: #fff;
  font-weight: normal;
  font-size: 1.2rem;
  border: 1px solid #fff;
  overflow: auto;
  padding: 10px 10px 12px 10px; 
  @include border-radius(0.4rem);
  li {
  padding: 0px 0px 5px 0px;    
  }
}

 
