// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//core-ui
@import "core";


.mob_back_link{
  display: block;
  position: absolute;
  top: 9px; //how is this set so logo is centered on header?
  right: 8px;
  font-family: $heading_font;
  @include small-button;
  @include red-button;
  @include shadow-all(0px 0px 5px #aeaeae);
  border: 1px solid #000; 
  a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;    
  }
} 


.mob_content{
  position: absolute;
  top: 50px;
  left: 10px;
  right: 10px;
  padding: 20px 0px 0px 0px  
}

.mob_home_image{
  position: absolute;
  left: 10px;
  right: 10px;
  margin-left:auto;
  margin-right:auto;
  height: 200px;
  width: 200px;
  background: #eee;
  background-size: contain;
  }

.mob_tagline_text{
  position: absolute;
  top: 160px;
  left: 20px;
  right: 20px;
  padding: 15px 0px 10px 0px;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem; 
}
  
.mob_tagline_text_left{
  float: left;
  width: 100%;
  text-align: left;  
}
  @media screen and (min-width: 400px) {
    .mob_tagline_text_left{
      margin-left: 15%;
    }  
  }
  @media screen and (min-width: 550px) {
    .mob_tagline_text_left{
      margin-left: 25%;
    }  
  }

.mob_tagline_text_right{
  float: right;
  width: 100%;
  text-align: right;  
}
  @media screen and (min-width: 400px) {
    .mob_tagline_text_right{
      margin-right: 15%;
    }  
  }
  @media screen and (min-width: 550px) {
    .mob_tagline_text_right{
      margin-right: 25%;
    }  
  }

.mob_web_login{
  position: absolute;
  top: 240px;
  left: 20px;
  right: 20px;
}

.web_mob_login_username{
  width: 208px;
  margin-left:auto;
  margin-right:auto;  
}

.web_mob_login_password{
  width: 208px;
  margin-left:auto;
  margin-right:auto;  
}


#mob_password {
    @include border-radius(0.5rem);
    font: bold;
    padding: 3px 0px 2px 5px;
    width: 200px;
  }
#mob_login_email {@extend #mob_password}


.web_mob_login_submit{
  width: 208px;
  margin-top: 5px;
  margin-left:auto;
  margin-right:auto;
  input[type=submit]{
    width: 208px;  
    font-family: $heading_font;
    @include small-button;
    @include green-button;
    @include shadow-all(0px 0px 5px #aeaeae);
    border: 2px solid #77a809;
  }
}

.mob_web_password_reminder{ 
  width: 196px;
  margin-top: 5px;
  margin-left:auto;
  margin-right:auto; 
  font-family: $heading_font;
  @include small-button;
  @include orange-button;
  @include shadow-all(0px 0px 5px #aeaeae);
  border: 2px solid #f29c93;
  text-align: center;
  display: block; //required to override setting in button mixin
  a{
    width: 208px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;     
  } 
}
