// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//core-ui
@import "core";

/* footer menu */
.web_footer {
  float: left;
  width: 100%;
  height: 16px;     
  padding: 4px 0px 4px 0px;
  margin: 10px 0px 20px 0px;
  @include border-radius(0.5rem);
  @include shadow-all(0px 0px 5px #aeaeae);
  @include dark_grey_24_gradient;
  min-width:270px
  }  
  @media screen and (max-width: $small_menu) {
    .web_footer{
      @include dark_grey_24_gradient;
      height: 14px; 
    }  
  }


.web_footer_menu_item a {
  float: left;
  font-family: $heading_font;
  font-weight: normal;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0px 0px 0px 20px;
  color: #fff;
  &:hover {text-decoration: underline;
    }
  }
  @media screen and (max-width: $small_menu) {
    .web_footer_menu_item a {
      font-size: 1.0rem;
      }
  }

.web_footer_social{
  display: block;
  float: right;
  padding: 0px 10px 0px 0px;  
}
  @media screen and (max-width: $small_menu) {
    .web_footer_social{
      display: none;
      }
  }


