<div class="row">
    <div class="col-1-1">
        <div class="border">

            <div class="row">
                <div class="sub-1-3 column_1">

                        <div class="row">
                            <div class="column_title">
                                <h3>Project Details</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column_title">
                                <p>Please select a project from the above dropdown list or create a new project by clicking on the button to the top right.</p>
                            </div>
                        </div>

                </div>

                <div class="sub-1-3 column_2">

                        <div class="row">
                            <div class="column_title">
                                <h3>Additional Users</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column_title">
                    			<p>Specright is offered on the basis of a single free user licence. An unlimited number of additional licences can be provided on an affordable annual subscription basis. To discuss your requirements please contact us, we would be delighted to hear from you.</p>                  
                            </div>
                        </div>

                </div>

                <div class="sub-1-3 column_3">

                </div>
            </div>

        </div>
    </div>
</div>