    <div class="column_1">
        <div class="column_content">
            <div class="column_title">Getting Started</div>         
            <div class="column_sub_content">
                <div class="column_guide">    
                    <p>Please select a project from the above dropdown list or create a new project by clicking on the button to the top right.</p>
                </div>
                <div class="column_guide">  
                    <p>For further guidance We recommend that you view the <span class="tutorial_link"><%= link_to 'Tutorials', helps_path %></span> after reading this page.</p>    
                </div>                                      
            </div>  
        </div>   
    </div>

    <div class="column_2">
        <div class="column_content">
            <div class="column_title">Additional Users</div>         
            <div class="column_sub_content">
                <div class="column_guide">        
                    <p>Specright is offered on the basis of a single free user licence. An unlimited number of additional licences can be provided on an affordable annual subscription basis. To discuss your requirements please contact us, we would be delighted to hear from you.</p>                  
                </div>                                  
            </div>  
        </div>   
    </div>
    
    <div class="column_3 column_blank"></div>