<div class="web_page_body">
	<div class="web_title_band">
		<div class="web_title">About Us</div>
	</div>
	<div class="web_title_signup_link"><%= link_to "create free account", sign_up_path %></div>

	<%= render :partial => "websites/content_tile", locals: {contents: @contents}  %>
	 

	<%= render :partial => "websites/web_footer" %>

</div>