<div class="row title_band">
    <div class="page_title">
        <h1>Edit Clause Guidance Note</h1>
    </div>
</div>

<% if associated_clauses(@clauseguide) %>
    <div class="row info_band">
        <div class="info_right">
            <div><h3>This guidance note is associated with other clauses</h3></div>
        </div>
    </div>
<% end %>

<%=  render :partial => "form", locals: {clauseguide: @clauseguide} %>