// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$s_tab: 1240px;
$mob: 720px;

//scredn sizes for change to header
//if these are changed also need to change settings in functions contained within project.js
$large_menu: 1050px;
$medium_menu: 800px;
$small_menu: 400px;



$guide_text_color: #006699;
$bold_text_color: #404040;
$error_text_color: #ff3300;  
$heading_font: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
$standard_font: Arial,Helvetica,sans-serif;

//background gradient image
@mixin dark_grey_46_gradient {background: image-url('dark_grey_46.png') repeat-x};
@mixin dark_grey_38_gradient {background: image-url('dark_grey_38.png') repeat-x};
@mixin dark_grey_28_gradient {background: image-url('dark_grey_28.png') repeat-x};
@mixin dark_grey_24_gradient {background: image-url('dark_grey_24.png') repeat-x};

@mixin light_grey_24_gradient {background: image-url('light_grey_24.png') repeat-x};
@mixin light_grey_32_gradient {background: image-url('light_grey_32.png') repeat-x};

@mixin green_28_gradient {background: image-url('green_28.png') repeat-x}; 
@mixin orange_28_gradient {background: image-url('orange_28.png') repeat-x}; 
@mixin red_28_gradient {background: image-url('red_28.png') repeat-x};
@mixin grey_28_gradient {background: image-url('grey_28.png') repeat-x};

@mixin inverted_green_28_gradient {background: image-url('inverted_green_28.png') repeat-x}; 
@mixin inverted_orange_28_gradient {background: image-url('inverted_orange_28.png') repeat-x}; 
@mixin inverted_red_28_gradient {background: image-url('inverted_red_28.png') repeat-x};    
@mixin inverted_grey_28_gradient {background: image-url('inverted_grey_28.png') repeat-x};
@mixin inverted_dark_grey_28_gradient {background: image-url('inverted_dark_grey_28.png') repeat-x};



//button sass
@mixin border-radius($var) {-moz-border-radius:$var; -webkit-border-radius:$var; border-radius:$var;}
@mixin border-radius-top($var) {-moz-border-top-right-radius:$var; -webkit-border-top-right-radius:$var; border-top-right-radius:$var; -moz-border-top-left-radius:$var; -webkit-border-top-left-radius:$var; border-top-left-radius:$var;}
@mixin button-box-shadow($colour) {-moz-box-shadow:inset 0px 1px 0px 0px $colour; -webkit-box-shadow:inset 0px 1px 0px 0px $colour; box-shadow:inset 0px 1px 0px 0px $colour;} 

@mixin shadow-all($shadows...) {-moz-box-shadow: $shadows; -webkit-box-shadow: $shadows; box-shadow: $shadows;}

//buttons
@mixin common-button-params{
  display:inline-block;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  text-shadow:1px 1px 0px #528009;
  cursor:pointer;
}
 
@mixin medium-button {
  font-size: 1.4rem;
  padding: 0.4rem 1.2rem;
  border:1px solid; 
  @include common-button-params; 
  @include border-radius(0.5rem);       
  a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  } 
}

@mixin small-button {
  font-size:1.2rem;
  padding:0.2rem 0.4rem;
  border:1px solid; 
  @include common-button-params; 
  @include border-radius(0.5rem);
  a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }        
}

@mixin green-button {background: #66aa00;
  border: solid #66aa00 0px;
  &:hover {
    background: #4b8533;
  }
  //{border-color: #b0db64; @include green_28_gradient; @include button-box-shadow(#a4e271);
  //{@include inverted_green_28_gradient; }}
@mixin orange-button {background: #f78014;
  border: solid #f78014 0px;
  &:hover {
    background: #df6d05;
  }
  //{border-color: #ebc178; @include orange_28_gradient; @include button-box-shadow(#f29c93);
 ////{@include inverted_orange_28_gradient; }}
@mixin red-button{background: #66aa00;
  border: solid #66aa00 0px;
  &:hover {
    background: #4b8533;
  }
  //{border-color: #db817b; @include red_28_gradient; @include button-box-shadow(#fed897);
  ////{@include inverted_red_28_gradient; }}
@mixin dark-grey-button {background: #555;
  border: solid #555 0px;
  &:hover {
    background: #333;
  }//{border-color: #db817b; @include dark_grey_28_gradient; @include button-box-shadow(#fed897);
                      //{@include inverted_dark_grey_28_gradient; }}                      


.small_green_button{
  font-family: $heading_font;
  @include small-button;
  @include green-button;
//  border: 1px solid #77a809;
  }
  
.small_red_button{
  font-family: $heading_font;
  @include small-button;
  @include red-button;
//  border: 1px solid #ce0100;
  }
                        
.small_orange_button{
  font-family: $heading_font;
  @include small-button;
  @include orange-button;
//  border: 1px solid #ce0100;
  }                      
                      
//icons
@mixin icon-save {background: image-url('icons.png') no-repeat; background-position:  0px -120px;}
@mixin icon-save-rollover {background: image-url('icons.png') no-repeat; background-position:  0px -278px;}

@mixin icon-upload {background: image-url('icons.png') no-repeat; background-position:  0px -80px;}
@mixin icon-upload-rollover {background: image-url('icons.png') no-repeat; background-position:  0px -160px;}

@mixin icon-download {background: image-url('icons.png') no-repeat; background-position:  0px -80px;}
@mixin icon-download-rollover {background: image-url('icons.png') no-repeat; background-position:  0px -160px;}

@mixin icon-error-report-download {background: image-url('icons.png') no-repeat; background-position:  0px -237px;}
@mixin icon-error-report-download-rollover {background: image-url('icons.png') no-repeat; background-position:  0px -197px;}

@mixin icon-video {background: image-url('icons.png') no-repeat; background-position:  0px -308px;}
@mixin icon-video-rollover {background: image-url('icons.png') no-repeat; background-position:  0px -375px;}

@mixin icon-cancel {background: image-url('icons.png') no-repeat; background-position:  0px -480px;}
@mixin icon-cancel-rollover {background: image-url('icons.png') no-repeat; background-position:  0px -520px;}

@mixin icon-add {background: image-url('icons.png') no-repeat; background-position:  0px -343px;}
@mixin icon-add-rollover {background: image-url('icons.png') no-repeat; background-position:  0px -406px;}

//links with icon and text
@mixin icon-text-link($image, $hover-image) {
  display: block;
  text-decoration:none;
  color:#66aa00;
  font-family: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
  font-size:1.1em;
  font-weight:bold;
  padding: 5px 5px 5px 30px;
  @include icon-save;
  &:hover{
    text-decoration:underline; @include icon-save-rollover;
    }
  }
//exmaple of link class
//.delete-icon-text-link {@include icon-text-link(icon-delete, icon-delete-rollover);}



html {
  font-size: 62.5%; 
  font-family: $heading_font;
  //background-color: #fbfbfb;
  } 

p{
  display: block;
  margin: 0px 0px 5px 0px;
}

figure {
  margin: 0px 0px 0px 0px;
}

::-webkit-input-placeholder { /* WebKit browsers */ color: #bebebe;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #bebebe;}
::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #bebebe;}
:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #bebebe;}


//header
.app_page_header{
  position: absolute;
  top: 8px;
  left: 10px;
  right: 10px;
  height: 26px;     
  padding: 10px 10px 10px 10px;
  @include border-radius(0.5rem);
  @include shadow-all(0px 0px 5px #aeaeae);
  
  background: #555;
  background-image: -webkit-linear-gradient(top, #555, #333);
  background-image: -moz-linear-gradient(top, #555, #333);
  background-image: -ms-linear-gradient(top, #555, #333);
  background-image: -o-linear-gradient(top, ##555, #333);
  background-image: linear-gradient(to bottom, #555, #333);
  min-width:270px
  }  
  @media screen and (max-width: $medium_menu) {
    .app_page_header{
  background: #555;
  background-image: -webkit-linear-gradient(top, #555, #333);
  background-image: -moz-linear-gradient(top, #555, #333);
  background-image: -ms-linear-gradient(top, #555, #333);
  background-image: -o-linear-gradient(top, #555, #333);
  background-image: linear-gradient(to bottom, #555, #333);
      height: 18px; 
    }  
  }




.app_logo{
  position: absolute;
  top: 6px;
  left: 7px;
  height: 30px;
  width: 100px;
  border: inset 1px #555;
  background: image-url('specright_logo.png') no-repeat;
  background-size:100px 30px;
  }
  @media screen and (max-width: $medium_menu) {
    .app_logo{
      height: 24px;
      width: 80px;
      background: image-url('specright_logo.png') no-repeat;
      background-size:80px 24px; 
    }  
  }



.app_menu {  
  position: absolute;
  top: 0px;
  left: 115px;
  width: 500px; 
  }
  @media screen and (max-width: $medium_menu) {
    .app_menu{
      position: absolute;
      height: 24px;
      width: 100%; 
      left: 0px;
      right: 0px;
      top: 45px;
      @include border-radius(0.5rem);
      @include shadow-all(0px 0px 5px #aeaeae);
      @include dark_grey_24_gradient;;
    }
  }
  @media screen and (max-width: $small_menu) {
    .app_menu{
      display: none;
    }  
  }

  @media screen and (max-width: $medium_menu) {
    .menu_item_container {
      margin-left: 10px;
      height: 24px;
      border-left: solid 1px #aeaeae;
    }  
  }
  @media screen and (max-width: $small_menu) {
    .menu_item_container {
      margin-left: 4px;
    }  
  }


.app_menu_item a {
  float: left;
  height: 21px;
  font-family: $heading_font;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 15px 9px 0px 9px;
  color: #fff;
  &:hover {text-decoration: underline;
    }
  }
  @media screen and (max-width: $medium_menu) {
    .app_menu_item a {
      font-size: 1.2rem;
      padding: 4px 8px 0px 8px;
      border-right: solid 1px #aeaeae;
      &:hover {text-decoration: underline;
        }
      }
  }
  @media screen and (max-width: $small_menu) {
    .app_menu_item a {
      font-size: 1.2rem;
      padding: 4px 8px 0px 8px;
      border-right: solid 1px #aeaeae;
      &:hover {text-decoration: underline;
        }
      }
  }

.current_link {
  color: #fff;
  text-decoration: underline;
}

.not_link {
    text-decoration: none;
}



@media screen and (max-width: $mob) {
  .s_tab{display:none;}
  }


.app_logout{
  position: absolute;
  top: 11px; //how is this set so logo is centered on header?
  right: 8px;
  font-family: $heading_font;
  @include small-button;
  @include red-button;
  @include shadow-all(0px 0px 5px #aeaeae);
  border: 1px solid #000;
  }
  @media screen and (max-width: $medium_menu) {
    .app_logout {
      top: 7px;
    }  
  }
  

/*project index page - options css*/  
.option_band_single {
  position: absolute;
  top: 84px;
  left: 10px;
  right: 10px;
  height: 26px;
  min-width:280px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  padding: 2px 0px 0px 7px;
  border: 1px solid #bababa;
  @include border-radius(0.5rem);

  background: #c2c2c2;
  background-image: -webkit-linear-gradient(top, #c2c2c2, #adadad);
  background-image: -moz-linear-gradient(top, #c2c2c2, #adadad);
  background-image: -ms-linear-gradient(top, #c2c2c2, #adadad);
  background-image: -o-linear-gradient(top, #c2c2c2, #adadad);
  background-image: linear-gradient(to bottom, #c2c2c2, #adadad);
  
  .error{
  color: #ff0000;
  }
  }
  @media screen and (max-width: $medium_menu) {
    .option_band_single {
      top: 100px;
      }
  }
  @media screen and (max-width: $small_menu) {
    .option_band_single {
      top: 55px;
      }
  }


/*project index page - title css*/ 
.page_title {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  height: 30px;
  padding: 10px 0px 8px 7px;
  font-family: $heading_font;
  font-size: 3rem;
  color: #333333;
  border-bottom: 2px solid #dddddd;
  }
  @media screen and (max-width: $medium_menu) {
    .page_title  {
      top: 69px;
      height: 30px;
      padding: 20px 0px 6px 7px;
      font-size: 2.8rem;
      text-overflow:ellipsis;
      overflow: hidden;
      white-space:nowrap;
      min-width:285px
      }
  }
  @media screen and (max-width: $small_menu) {
    .page_title {
      top: 31px;
      font-size: 2.5rem;
      padding: 20px 0px 4px 7px;
      }
  }

/* begin css tabs */
/* Style for tabs */
ul.tabs, ul.tabs_2{
  position: absolute;
  left: 10px;
  right: 10px;
  padding: 6px 0px 6px 0px;
  border-bottom: 2px solid #dddddd;
  list-style-type: none;
  margin: 0px;
  li {
    display: inline;
    font-size: 1.4rem;
    font-weight: bold;
    a {  
      color: #fff;
      text-decoration: none;
      @include border-radius(0.4rem);
  background: #c2c2c2;
  background-image: -webkit-linear-gradient(top, #c2c2c2, #adadad);
  background-image: -moz-linear-gradient(top, #c2c2c2, #adadad);
  background-image: -ms-linear-gradient(top, #c2c2c2, #adadad);
  background-image: -o-linear-gradient(top, #c2c2c2, #adadad);
  background-image: linear-gradient(to bottom, #c2c2c2, #adadad);
      cursor:pointer;
      padding: 6px 6px 6px 6px;
      &:hover{
        background: #fff;
        color: #000;
      }
      &.active{
        background: #fff;
        color: #000;
        border: 2px solid #dddddd;
      }
    }
  }  
}

      
ul.tabs{
  padding: 6px 0px 6px 0px;
  border-bottom: 2px solid #dddddd;
  li {
  color: #fff;
    a {  
      border: 2px solid #dddddd;
      @include border-radius-top(0.4rem);
      margin: 0;
      &.active  {
        border-bottom-color: white;
      }
    } 
  }
}
  @media screen and (max-width: $medium_menu) {
    ul.tabs {
      min-width:277px;
      }
  }

ul.tabs_2 {
  padding: 2px 4px 0px 4px;
  border: 2px solid #dddddd;
  @include border-radius(0.4rem);
  line-height:34px;
  background: #d9d9d9;
  li {
    white-space:nowrap;
    a {  
      border: solid 1px white;
      @include border-radius(0.4rem);
    } 
  }
}
  @media screen and (max-width: $small_menu) {
    ul.tabs_2 {
      padding: 0px 1px 1px 1px;
      line-height:30px;
      min-width:277px;      
      li {
        padding: 0px 1px 0px 1px;
        font-size: 1.2rem;
        white-space:nowrap;
        a{
         padding: 4px 4px 4px 4px;
        }
        }
      }
  }


//stype for tab content div
.tab_content {
  display: hidden;
  position: absolute;
  left: 10px;
  right: 10px;
  min-width:280px;
  overflow: auto;
  background: #fff;
  border: 2px solid #dddddd;
  padding: 5px 0px 20px 0px; 
  z-index: 0;
}
  @media screen and (min-width: $small_menu) {
    .tab_content {
      bottom: 10px;      
      }
  }


.tab_sub_menu{
  position: absolute;
  right: 10px;
  z-index: 1000;  
}


/*css for 3 column layout*/  
.content {
  position: absolute;
  top:110px;
  left:10px;
  right:10px;
  padding: 0px 0px 0px 0px;
  }
  @media screen and (max-width: $medium_menu) {
    .content {
      top:125px;
      }
  }
  @media screen and (max-width: $small_menu) {
    .content {
      top: 80px;
      }
  }


.column_1, .column_2, .column_3, .column_1_2 {
  float: left;
  border: 2px solid #dddddd;
  padding: 10px 10px 10px 10px;
  margin-top:15px;
  @include border-radius(4px);
  height: 400px;
  background: #fff; 
  }
//correction so column lines up on right hand side of the screen correctly  



.column_content{
  position: relative;
  font-family: $standard_font;
}

.column_sub_content{
  position: absolute;
  top: 45px;
  bottom: 40px;
  width: 100%;

}

.column_title {
  height: 20px;
  color:#66aa00;
  font-family: $heading_font;
  font-size:2.4rem;
  line-height: 2.4rem;
  padding: 10px 5px 10px 5px;
  border-bottom: 2px solid #dddddd;
}
  @media screen and (max-width: $small_menu) {
    .column_title {
      font-size:2.2rem;
      line-height: 2.2rem;
      }
  }

.column_footer {
  font-family: $heading_font;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 5px 0px 5px;
  border-top: 2px solid #dddddd;
}

.column_text {
  font-size:1.2em;
  padding: 10px 10px 10px 10px
}



.column_line {
  height: 2px;
  padding: 10px 10px 10px 10px;
  border-top: 2px solid #dddddd;
}

.column_guide {
  font-size:1.2rem;
  font-style: italic;
  text-align:justify;
  color: $guide_text_color;
  padding: 8px 10px 10px 10px;
  border-bottom: 2px solid #dddddd;
  ul{
    margin: 2px 0px 0px 2px;
    padding: 0px 0px 0px 15px;
  }
}

.column_sub_guide {
  font-size:1.2rem;
  font-style: italic;
  text-align:justify;
  color: $guide_text_color;
  padding: 8px 10px 5px 10px;
  border-bottom: 2px solid #dddddd;
  border-top: 2px solid #dddddd;
  ul{
    margin: 2px 0px 0px 2px;
    padding: 0px 0px 0px 15px;
  }
}

.column_form {
  font-size:1.2rem;
  padding: 5px 5px 5px 5px
}

.column_image {
  padding: 10px 10px 10px 10px
}

.column_table {
  padding: 20px 5px 10px 5px;  
  table{
    width: 100%;
    border: none;
 //   tr{
 //     &:hover{
 //         background: #eee;
 //     }
//    }
  }
}

.column_table_header{
  padding: 0px 0px 10px 0px;
  table{
      border-bottom: 1px solid #dddddd;    
  }  
}

.column_table_table{
  max-height: 400px;  //jquery - change this dynamically
  overflow: auto;  
  td{
    max-width: 115px; //jquery - change this dynamically
    text-overflow: ellipsis;}  
}


.column_error {  
  font-size:1.2rem;
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  border: 2px solid #ff3300;
  @include border-radius(4px);
  color: $error_text_color;
}

.column_error_heading{
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid red;
  margin: 10px 0px 5px 0px;    
}

.column_error_text{
  width: 100%;
  font-weight: bold;
  margin: 10px 0px 5px 0px;    
}

.column_error_content{
  max-height: 100px;  //jquery - change this dynamically
  overflow: auto;   
}

.column_error_print{
  width: 100%;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid red;
  margin: 5px 0px 0px 0px; 
}


.column_blank{
  background: #eee;
}

  
//form elements
.radio_button_div{
  float:left;  
}
  
.radio_button{
  float:left;  
  padding: 3px 5px 5px 5px; 
}

.radio_button_label{
  float:left;  
  padding: 5px 5px 5px 5px;    
}

.form_check{
  display: none;
}

.form_input_label{
  font-size: 1.2rem;
  font-weight: bold;
  float:left;  
  padding: 10px 5px 0px 0px;
  color: $bold_text_color;    
}

.form_label_note{
  font-size: 1rem;
  font-style: italic;
  color: $guide_text_color;   
}

.form_input{
  float:left;
  padding: 5px 0px 0px 0px;  
}

.form_input_note{ 
  font-size:1.2rem;
  font-style: italic;
  color: $guide_text_color;    
}

.form_input_blank_note{
  font-size:1.2rem;
  font-style: italic;
  color: $guide_text_color;    
}

.form_input_error{ 
  font-size:1.2rem;
  font-style: italic;
  color: $error_text_color;    
}

.form_default{
  font-size:1.2rem;
  font-weight: normal;
  float:left;  
  padding: 10px 5px 0px 0px;
  color: $bold_text_color;  
}

.column_sub_form{
  padding-left: 35px;
  td{
  color: #a5a5a5;      
}
}

.column_submit a{
  display: block;
  height:20px;
  text-decoration:none;
  color:#66aa00;
  font-size:1.4rem;
  font-weight:bold;
  padding: 0px 0px 0px 30px;
    @include icon-save;
  &:hover{
    text-decoration:underline;
    @include icon-save-rollover;
  }
} 

.column_submit input[type=submit]{
  display: block;
  border: none;
  height:22px;
  text-decoration:none;
  color:#66aa00;
  font-size:1.4rem;
  font-weight:bold;
  font-family: $heading_font;
  border: none;
  padding: 0px 0px 0px 30px;
  @include icon-save;
  cursor: pointer;
  &:hover{
    text-decoration:underline;
    @include icon-save-rollover;
      border: none;
      padding: 0px 0px 0px 30px;
      cursor: pointer;
  }
}

.column_footer_right_button{ 

}

.column_cancel a{
  display: block;
  position: absolute; 
  height:22px;
  right:10px;
  top:10px;
  text-decoration:none;
  color:red;
  font-size:1.4rem;
  font-weight:bold;
  font-family: $heading_font;
  padding: 2px 0px 0px 28px;
    @include icon-cancel;
  &:hover{
    text-decoration:underline;
    @include icon-cancel-rollover;
    border: none;
    padding: 2px 0px 0px 28px;
    cursor: pointer;
  }
}

.column_add a{
  display: block;
  border: none;
  height:22px;
  text-decoration:none;
  color:#66aa00;
  font-size:1.4rem;
  font-weight:bold;
  font-family: $heading_font;
  padding: 2px 0px 0px 28px;
    @include icon-add;
  &:hover{
    text-decoration:underline;
    @include icon-add-rollover;
    border: none;
    padding: 2px 0px 0px 28px;
    cursor: pointer;
  }
}  

.column_download input[type=submit]{
  display: block;
  border: none;
  height:22px;
  text-decoration:none;
  color:#66aa00;
  font-size:1.4rem;
  font-weight:bold;
  font-family: $heading_font;
  border: none;
  padding: 0px 0px 0px 30px;
  @include icon-download;
  cursor: pointer;
  &:hover{
    text-decoration:underline;
    @include icon-download-rollover;
      border: none;
      padding: 0px 0px 0px 30px;
      cursor: pointer;
  }
}

.column_link a{
  display: block;
  line-height: 20px;
  text-decoration:none;
  font-family: $heading_font;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 3px 0px 10px 30px;
  &:hover{
    text-decoration:underline;
  }  
}






